
  /* .menu{ */
    /* position:fixed;
    bottom: 3%;
    left: 50%; */
    /* border-radius: 50%;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center; */
    /* z-index: 1000; */
    /* transition: .4s all ease; */
  /* } */
/*   
  .menu{
    display: flex;
  } */

  .menu-items .row{
    background-color: azure;
    padding: 18px;
  }